body{
    
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 300%;
    background-color: rgb(110, 107, 107);
    box-shadow: 0px 5px 6px  rgb(127, 245, 235);
    font-family: 'Outfit', sans-serif;
    min-width: 96vw;
    padding:10px
    
   }
.navbox{
    color: black;
    background-color: rgb(155, 151, 151);
    padding-inline-start: 0;
    padding: 3%;
    border:2px groove black;
    text-align: center;
    margin-bottom: 7%;
    
}
.navbox1{
    
    background-color: rgb(194, 191, 191);
    padding-inline-start: 0;
    padding: 3%;
    border:2px groove black;
   
    text-decoration: underline dotted ;

}
a{
    color: black;
}
header{
    display: flex;
    justify-content: flex-start;
    margin: 7%;
    background-color: rgb(158, 158, 157);
    border: 5px groove rgb(127, 245, 235);
}
.gradient{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,
    rgb(156, 156, 156),rgb(100, 99, 99),
     rgb(77, 76, 76),rgb(0, 0, 0));
     background-size: 300% 300%;
     animation: color 12s ease-in-out infinite;
    
    
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: rgb(170, 167, 167);
    padding-left: 3%;
    
    text-align: left;
    position:fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 10%;
    max-height: 11%;
}
.footerp{
    font-size: 100%;
    display: flex;
    padding-right: 40%;
    
}
.footerimage{
    display: flex;
    flex-direction:row-reverse  ;
    margin-left: 20%;
}